<?xml version='1.0' encoding='utf-8'?>
<widget id="com.salims.usedphones" version="1.0.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">

    <name>Used Phones</name>
    <description>Used Phones Kenya App</description>
    <author email="you@example.com" href="https://example.com">
        Salim Jimbo
    </author>

    <content src="index.html" />

    <access origin="*" />

    <!-- ANDROID CONFIG -->
    <platform name="android">
        <icon src="res/icon.png" />
    </platform>

</widget>
